/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

/* Home, About, Projects, and Contact Section Styles */
.home,
.about,
.projects,
.contact {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background-color: #000;
  color: #fff;
}

/* Navbar Styles */
.navbar {
  background-color: #ffffff;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  color: #000;
  cursor: pointer;
}

/* Sidebar Menu Styles */
.nav-menu {
  background-color: #ffffff;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 450ms;
}

.nav-menu-items {
  width: 100%;
  padding: 0;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #151414;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
  gap: 10px; /* Adds space between the icon and text */
}

.nav-text a:hover {
  background-color: #000000;
  color: #fff;
}

/* Responsive Menu */
@media screen and (max-width: 768px) {
  .navbar {
    justify-content: space-between;
  }

  .menu-bars {
    font-size: 2.5rem;
  }

  .nav-menu {
    width: 200px;
  }

  .nav-text a {
    font-size: 16px;
  }
}

span {
  margin-left: 16px;
}

/* Icon Styling */
.nav-text a svg {
  font-size: 24px; /* Control icon size */
}
